<% include ./partials/header %>
	<div class="wrapper">
	  <h1>Weather App</h1>

	  <form action="/results" method="GET">
	      <input type="number" placeholder="Enter your Zip code (US only)" name="search">
	      <input type="submit">
	  </form>
	</div>

<% include ./partials/footer %>